
            <!DOCTYPE html>
            <html>
                <head>
                    <meta charset="utf-8" >
                    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/328/328201.png" type="image/x-icon"/> 
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
                    <title>會員主頁面</title>
                    <style type="text/css">       
                        html{width: 100%;height: 100%;overflow: hidden;font-style: sans-serif; }   
                        body{width: 100%;height: 100%;font-family: "Open Sans",sans-serif;margin: 0; background-color: #37464a; background:url("/img/homepage_background.jpg");background-size: cover;background-attachment: fixed;background-position: center;}
                        #login{position: fixed;top: 50%;left:15%;transform: translate(-50%,-50%);background:#2329358e;text-align: center;border-radius: 40px;padding: 30px;}  
                        #login h1{color: #fff;   text-shadow:0 0 10px;   letter-spacing: 5px;   text-align: center;white-space:nowrap;}
                        #login h3{color: #fff;   text-shadow:0 0 10px;   letter-spacing: 5px;   text-align: center;white-space:nowrap;} 
                        .but{width: 310px;min-height: 20px;display: block;background-color: #07070785;border: 2px solid #bccdf3;color: #fff;padding: 12px 20px;font-size: 16px;line-height: normal;border-radius: 100px;cursor: pointer; font-family: consolas;}
                        .but:hover{background-color: #fcfcfc85;color: rgb(2, 0, 0);}
                        #but{display: block;background-color: #07070700;padding: 12px 20px;cursor: pointer;border:none;font-size: 120px; margin: 20px auto; color: rgb(219, 202, 202);}
                        #but:hover{color: rgb(2, 0, 0);}
                    </style>
                </head>
                <body>
                    <div id="login">
                        <form action="/personal_data/hw2">
                            <button class="fa fa-user-circle-o" id="but"></button>
                        </form>
                        <form action="/hero_rank/hw2">
                            <button class="but">🏆 英雄榜 🏆</button><br/>
                        </form>
                        <form action="/leetcode/hw2">
                            <button class="but">🎮 休閒題目 🎮</button><br/>
                        </form>
                        <form action="/member_homepage/hw2">
                            <button class="but">🖊️ Homework 🖊️</button><br/>
                        </form>
                        <form action="/portal_grades/hw2/s1094815">
                            <button class="but">💯 成績查詢 💯</button><br/>
                        </form>
                        <form action="/signout">
                            <button class="but">👋 登出 👋</button><br/>
                        </form>
                        <form action="/teachingassistant/hw2">
                            <button class="but">⛔ 助教專區 ⛔</button>
                        </form>
                    </div>
                    <div class="main" style="float:right; width: 3%; height: 100%;"></div></br></br>
                    <div style="white-space:nowrap; float:right; width: 65%;">
                        <iframe 
                                frameborder="0"
                                scrolling="yes"
                                allowtransparency="no"
                                noresize="noresize"
                                align="right"
                                style="position: relative; background: block; width: 100%; height: 88vh;"
                                src="http://127.0.0.1:3000/display_homepage_rules">
                        </iframe>
                    </div>

                </body>
            </html>
    