<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        #login{font-family:consolas;height: 75%;width: 93%;background:rgba(36, 36, 39, 0.580);border-radius: 50px;padding: 30px; color: aliceblue;}
        #login1{font-family:consolas;height: 75%;width: 93%;background:rgba(36, 36, 39, 0.767);border-radius: 50px;padding: 30px; color: aliceblue;}
    </style>
</head>
    <body>       
        <div id="login">
            <div style="font-weight: bolder; font-size: 60px; background-color: rgba(255, 254, 254, 0.336); border-radius: 18px; padding: 12px; color: black;" align="center">Homework Rules</div>
            <h1>上傳作業規則說明:</h1>
            <div id="login1">
                <table>
                    <tr>
                        <td valign="top" style="font-size: 23px; color: rgb(255, 136, 0);">1.&nbsp;</td><td style="font-size: 20px; font-family:consolas; ">請同學在上傳作業時，確認是否有將 test.py 改成 s + 自己的學號.py。</br>--> (ex. test.py -> s1104813.py)</td>
                    </tr>
                    <tr>
                        <td valign="top" style="font-size: 23px; color: rgb(255, 136, 0);">2.&nbsp;</td><td style="font-size: 20px; font-family:consolas; ">請同學在規定的函式 and 類別中，撰寫本次作業程式碼。</br>--> 請避免 (ex. 更動函式參數、區域外變數)</td>
                    </tr>
                    <tr>
                        <td valign="top" style="font-size: 23px; color: rgb(255, 136, 0);">3.&nbsp;</td><td style="font-size: 20px; font-family:consolas; ">同學在繳交作業前，可以先利用Auto.bat做測試。</br>--> 請避免 (ex. 無限迴圈、error)</td>
                    </tr>
                    <tr>
                        <td valign="top" style="font-size: 23px; color: rgb(255, 136, 0);">4.&nbsp;</td><td style="font-size: 20px; font-family:consolas; ">請同學在繳交作業前，確認是否有將答案 return 出來。</br>--> (ex. return ans)</td>
                    </tr>
                    <tr>
                        <td valign="top" style="font-size: 23px; color: rgb(255, 136, 0);">5.&nbsp;</td><td style="font-size: 20px; font-family:consolas; ">系統上傳檔案的格式，只接受 .py 檔。</br>--> (ex. s1104813.py)</td>
                    </tr>
                    <tr>
                        <td valign="top" style="font-size: 23px; color: rgb(255, 136, 0);">6.&nbsp;</td><td style="font-size: 20px; font-family:consolas; ">Time Limit Exeeded 代表程式碼有問題需要優化。</br>--> (作業成績:0)</td>
                    </tr>
                    <tr>
                        <td valign="top" style="font-size: 23px; color: rgb(255, 136, 0);">7.&nbsp;</td><td style="font-size: 20px; font-family:consolas; ">每次作業的上傳次數，限制為20次。</td>
                    </tr>
                    <tr>
                        <td valign="top" style="font-size: 23px; color: rgb(255, 136, 0);">8.&nbsp;</td><td style="font-size: 20px; font-family:consolas; ">請同學切勿擅自更改其任何函式 and 類別名稱。</td>
                    </tr>
                </table>
            </div>
        </div></br>
    </body>
</html>
