<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        #login{font-family:consolas;height: 75%;width: 93%;background:rgba(36, 36, 39, 0.580);border-radius: 50px;padding: 30px; color: aliceblue;}
        #login1{font-family:consolas;height: 75%;width: 93%;background:rgba(36, 36, 39, 0.788);border-radius: 50px;padding: 30px; color: aliceblue;}
        .but_old{width: 239px;min-height: 50px;display: block;background-color: #52747a78;border: 2px solid #f0f0ed;color: rgb(255, 0, 0);padding: 9px 14px;font-size: 15px;margin-left:1%;cursor: pointer; border-radius: 10px;}
        .but_old:hover{background-color: #ef5c28;color: #fff;}        
    </style>
</head>
    <body>       
        <div id="login">
            <div style="font-weight: bolder; font-size: 60px; background-color: rgba(255, 254, 254, 0.336); border-radius: 18px; padding: 12px; color: #000000;" align="center">會員系統首頁 (功能說明)</div>
            <h1>英雄榜:</h1>
            <div id="login">
                <div style="word-break: break-all; font-size: 20px;">
                    <table>
                        <tr>
                            <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);font-weight: bold;">🟠</td><td style="font-size: 20px; font-family:consolas; ">英雄榜是同學在全部作業中，所獲取的總獎牌數排名。</td>
                        </tr>
                        <tr>
                            <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);font-weight: bold;">🟠</td><td style="font-size: 20px; font-family:consolas; ">排名順序 (獎牌分數 -> 上傳次數)</td>
                        </tr>
                        <tr>
                            <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);font-weight: bold;">🟠</td><td style="font-size: 20px; font-family:consolas; ">獎牌分數 (🥇:3，🥈:2，🥉:1)</td>
                        </tr>
                    </table>                   
                </div>
            </div>
            <h1>休閒題目(尚未開放):</h1>
            <div id="login">
                <div style="word-break: break-all; font-size: 20px;">
                    <table>
                        <tr>
                            <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);font-weight: bold;">🟠</td><td style="font-size: 20px; font-family:consolas; ">休閒題目是依照同學目前的進度和能力，設計一個適合同學且較有趣的程式題目。</td>
                        </tr>
                        <tr>
                            <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);font-weight: bold;">🟠</td><td style="font-size: 20px; font-family:consolas; ">同學可以依照自己的意願去撰寫題目，有問題歡迎詢問助教。</td>
                        </tr>
                    </table> 
                </div>
            </div>
            <h1>Homework:</h1>
            <div id="login">
                <div style="word-break: break-all; font-size: 20px;">
                    <table>
                        <tr>
                            <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);font-weight: bold;">🟠</td><td style="font-size: 20px; font-family:consolas; ">作業專區為同學繳交資料結構作業的地方，同學可以在裡面進行作業繳交及程式碼審查。</td>
                        </tr>
                        <tr>
                            <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);font-weight: bold;">🟠</td><td style="font-size: 20px; font-family:consolas; ">作業專區主要三大分類: (排行榜、上傳作業、程式碼審查)</td>
                        </tr>
                    </table>               
                    <h3>排行榜(當次作業的排名):</h3>
                    <div  id="login1" style="word-break: break-all; font-size: 20px;">
                        <table>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">1.</td><td style="font-size: 20px; font-family:consolas; ">最佳排行:同學所有全部上傳的作業中(成績、時間、記憶體)最好的一次作業排名。</td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">2.</td><td style="font-size: 20px; font-family:consolas; ">總體排行:同學所有全部上傳過的作業排名。</td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">3.</td><td style="font-size: 20px; font-family:consolas; ">規則:作業分數需">="以往上傳作業的最佳(分數 -> 時間 -> 記憶體)，系統才會將作業檔案進行更新。</td>
                            </tr>        
                        </table>
                    </div>
                    <h3>上傳作業:</h3>
                    <div  id="login1" style="word-break: break-all; font-size: 20px;">
                        <table>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">1.</td><td style="font-size: 20px; font-family:consolas; ">上傳作業是提供同學上次當次作業的程式碼專區。(ex. s1104813.py)</td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">2.</td><td style="font-size: 20px; font-family:consolas; ">顯示同學目前作業的最高分數和上傳次數。</td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">3.</td><td style="font-size: 20px; font-family:consolas; ">請同學切勿抄襲，一經發現該次作業0分。</td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">4.</td><td style="font-size: 20px; font-family:consolas; ">其他上傳作業的細部規則，請到上傳作業那邊做閱讀。</td>
                            </tr>        
                        </table>
                    </div>
                    <h3>程式碼審查(匿名制):</h3>
                    <div  id="login1" style="word-break: break-all; font-size: 20px;">
                        <table>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">1.</td><td style="font-size: 20px; font-family:consolas; ">本學期將採用"匿名制"程式碼審查，請同學不要將暱稱告訴其他同學。</td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">2.</td><td style="font-size: 20px; font-family:consolas; ">每位同學皆須評論三位同學的程式碼，並給予被評者30字的審查評論意見。<span style="color: red; font-family: consolas; font-weight: bolder;">(未審查者作業會被扣分-30分)</span></td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">3.</td><td style="font-size: 20px; font-family:consolas; ">程式碼審查頁面一進去就會是同學本人的程式碼，而樓下三位'藍底'標註的編號，為同學此次程式碼審查的三位對象。</td>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);">4.</td><td style="font-size: 20px; font-family:consolas; ">如同學想多審查其他同學是沒有問題的，但必須先審查完分配好的編號。</td>
                            </tr>          
                        </table>
                    </div>
                </div>
            </div>
            <h1>作業成績:</h1>
            <div id="login">
                <div style="word-break: break-all; font-size: 20px;">
                    <table>
                        <tr>
                            <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);font-weight: bold;">🟠</td><td style="font-size: 20px; font-family:consolas; ">作業成績為同學個人每項作業的成績，會顯示所有作業加總的平均分數。</td>
                        </tr>
                        <tr>
                            <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);font-weight: bold;">🟠</td><td style="font-size: 20px; font-family:consolas; ">記錄同學上課的出勤狀況。</td>
                        </tr>
                    </table>
                </div>
            </div>
            <h1>更改密碼:</h1>
            <div id="login">
                <div style="word-break: break-all; font-size: 20px;">
                    <table>
                        <tr>
                            <td valign="top" style="font-size: 20px; color: rgb(255, 136, 0);font-weight: bold;">🟠</td><td style="font-size: 20px; font-family:consolas; ">如需更改密碼的同學，請到學校信箱收取驗證碼。</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
